{% extends "teacher/base_teacher.html" %}

{% block main_content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Change Password</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}

<div class="col-lg-12">
	<form action='submit' method='post'>
        <label><strong>Old Password</strong></label>
        <input class="form-control" type="password" name="oldpassword">
    </br>
        <label align="center"><strong>New Password</strong></label>
        <input class="form-control" type="password" name="newpassword">
    </br>
        <label align="center"><strong>Re-enter Password</strong></label>
        <input class="form-control" type="password" name="repassword">
    </br>
    	<input class="btn btn-default btn-red" type='submit' value='Change Password'>
   	</form>
    <!-- /.panel -->
</br>


{% endblock %}
