{% extends "teacher/base_teacher.html" %}

{% block main_content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Profile</h1>
    </div>
</div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Info
        </div>
        <!-- /.panel-heading -->
        <form method='post' action='submit'>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style='border-top:none' align="center"><strong>First Name</strong></td>
                            <td style='border-top:none' align="center"><input class='form-control' style='width:250px' type='text' name='first_name' value='{{details.first_name}}'></td>
                        </tr>
                        <tr>
                            <td style='border-top:none' align="center"><strong>Last Name</strong></td>
                            <td style='border-top:none' align="center"><input class='form-control' style='width:250px' type='text' name='last_name' value='{{details.last_name}}'></td>
                        </tr>
                        <tr>
                            <td style='border-top:none' align="center"><strong>Gender</strong></td>
                            <td style='border-top:none' align="center"><div class="form-group">
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" value="M" {% if details.gender == 'M' or details.gender == 'm' %}checked{% endif %}>Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" value="F" {% if details.gender == 'F' or details.gender == 'f' %}checked {% endif %}>Female
                                            </label>
                                        </div></td>
                        </tr>
                        <tr>
                            <td style='border-top:none' align="center"><strong>Address</strong></td>
                            <td style='border-top:none' align="center"><textarea name='address' class='form-control'>{{details.address}}</textarea></td>
                        </tr>
                        <tr>
                            <td style='border-top:none' align="center"><strong>Email</strong></td>
                            <td style='border-top:none' align="center"><input name='email' class='form-control' style='width:250px' type='text' value='{{details.email}}'></td>
                        </tr>
                        <tr>
                            <td style='border-top:none' align="center"><strong>Phone Number</strong></td>
                            <td style='border-top:none' align="center"><input name='phone_number' class='form-control' style='width:250px' type='text' value='{{details.phone_number}}'></td>
                        </tr>
                        <tr><td style='border-top:none' ></td><td style='border-top:none' ></td></tr>
                        <tr>
                            <td style='border-top:none' align="center"></td>
                            <td style='border-top:none' align="center"><input type='submit' class='btn btn-primary btn-red' style='width:250px' value='Update Info'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        </form>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>

{% endblock %}
