{% extends "accountant/base_accountant.html" %}

{% block main_content%}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-18">
                    <!-- /.panel -->
                    <div class="panel panel-default">

                        <h3 class="page-header" style="margin-top:15px; margin-bottom:5px;">&nbsp;&nbsp;Profile</h3>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-lg-1">{{staff_dict.first_name}} {{staff_dict.last_name}}</th>
                                                    
                                            
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>Email Address: {{staff_dict.email}}</td>
                                          
                                                </tr>
                                                <tr>
                                                    <td>Contact Number: {{staff_dict.phone_number}}</td>
                                                   
                                             
                                                </tr>
                                                <tr>
                                                    <td>Address: {{staff_dict.address}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Gender: {{staff_dict.gender}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Username: {{staff_dict.username}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Password: {{staff_dict.password}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
{% endblock %}