<!DOCTYPE html>
<html lang="en">

<head>

        <style>
            .white, .white a {
              color: #fff;
            }
            .blue-back, .blue-back a {
                background-color: #4A777A;
                border-color: #4A777A;
            }
            .divider-custom, .divider-custom li {
                 background-color:#23527C; !important
            }
            .nav-tabs li a{
                background-color: #755566;
                color: #fff;
            }
            .hyperlink-default a {
                background:transparent;
                color:#0645AD;
            }
        </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Your Firm's Name</title>

    <!-- DataTables CSS -->
    <link href="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/static/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/dist/css/timeline.css" rel="stylesheet">

       <!--Datepicker CSS -->
    <link href="/static/datepicker/css/datepicker.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- <link href="../bower_components/morrisjs/morris.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<script>
		function call_student_search_window(type) {
			window.open("/student-search/?type="+type,"name_" + Math.random(), "scrollbars=1");
		}
	</script>


</head>

<body style="background-color:#fff;">

    <div class="blue-back" id="wrapper">

        <!-- Navigation -->
        <nav style="margin-bottom:0px;background-color:#4A777A;border-color:#5A878A;" class="navbar navbar-default navbar-static-top white blue-back" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:#fff;" class="navbar-brand white">Your Firm's Logo</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <strong>Use As</strong> &nbsp;<i class="fa fa-caret-down"></i>
                    </a>
                    <ul style="background-color:#4A777A;color:#fff;" class="dropdown-menu" style="width:200px;">
                        {% block use_as %}
                        {% if details.permission_admin == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=admin">
                                <strong>Admin</strong>
                            </a>
                        </li>
                        <li style="background-color:#23527C;" class="divider-custom divider"></li>
                        {% endif %}
                        {% if details.permission_accountant == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=accountant">
                                <strong>Accountant</strong>
                            </a>
                        </li>
                        <li style="background-color:#23527C;" class="divider-custom divider"></li>
                        {% endif %}
                        {% if details.permission_manager == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=manager">
                                <span class="pull-right"><i class="fa fa-check"></i></span> <strong>Manager</strong>
                            </a>
                        </li>
                        <li style="background-color:#23527C;" class="divider-custom divider"></li>
                        {% endif %}
                        {% if details.permission_teacher == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=teacher">
                               <strong>Teacher</strong>
                            </a>
                        </li>
                        {% endif %}
                        {% endblock %}
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul style="background-color:#4A777A" class="dropdown-menu dropdown-alerts">
                        {% block notifs %}
                        <li class="dropdown-menu-normal">
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i><strong> No Notifications for now.</strong>
                                </div>
                            </a>
                        </li>
                        {% endblock %}
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul style="background-color:#4A777A" class="dropdown-menu dropdown-user">
                        <li class="dropdown-menu-normal"><a href="/manager/profile/view-profile/"><i class="fa fa-user fa-fw"></i><strong> User Profile</strong></a>
                        </li>
                        <li class="dropdown-menu-normal"><a href="/manager/profile/change-password/"><i class="fa fa-gear fa-fw"></i><strong> Change Password</strong></a>
                        </li>
                        <li style="background-color:#23527C;" class="divider-custom divider"></li>
                        <li class="dropdown-menu-normal"><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i><strong> Logout</strong></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul style="border-color:#4A777A;" class="nav" id="side-menu">
                       <li style="border-color:#4A777A;">
							<a href="/manager/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li style="border-color:#4A777A;">
							<a href="#"><i class="fa fa-calendar-o"></i> Syllabus<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
									<a href="/manager/lectures/add-lectures/">Add Topics</a>
                                </li>
                                <li>
									<a href="/manager/lectures/view-lectures/">View/Edit Topics</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li style="border-color:#4A777A;">
							<a href="#"><i class="fa fa-edit fa-fw"></i> Teachers<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
                                <li>
									<a href="/manager/teacher/add-teacher/">Add Teacher</a>
                                </li>
                                <li>
									<a href="/manager/teacher/view-teacher/">View/Edit Teacher</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li style="border-color:#4A777A;">
							<a href="#"><i class="fa fa-edit fa-fw"></i> Tests<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
									<a href="/manager/tests/add-tests/">Add Tests</a>	<!-- Also implement assign test to batch/teacher -->
                                </li>
                                <li>
									<a href="/manager/tests/view-tests/">View/Edit Tests</a>		<!-- Also consider assigning of test to batch/teacher -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li style="border-color:#4A777A;">
							<a href="#"><i class="fa fa-edit fa-fw"></i> Batches<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
									<a href="/manager/batches/add-batch/">Add Batches</a>
                                </li>
                                <li>
									<a href="/manager/batches/view-batch/">View/Edit Batches</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li style="border-color:#4A777A;">
							<a href="#"><i class="fa fa-edit fa-fw"></i> Attendance Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
									<a href="/manager/attendance-reports/lecturewise-attendance/">Topicwise Attendance</a>
                                </li>
                                <li>
									<a href="/manager/attendance-reports/studentwise-attendance/">Studentwise Attendance</a>
                                </li>
                                <li>
									<a href="/manager/attendance-reports/batchwise-attendance/">Batchwise Attendance</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li style="border-color:#4A777A;">
							<a href="#"><i class="fa fa-edit fa-fw"></i> Notices<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
									<a href="/manager/notices/add-student-notice/">Upload Student Notice</a>
                                </li>
                                <li>
									<a href="/manager/notices/add-staff-notice/">Upload Staff Notice</a>
                                </li>
                                <li>
									<a href="/manager/notices/view-my-notices/">View/Edit My Notices</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block main_content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/static/js/jquery.table2excel.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>


    <!-- Morris Charts JavaScript
    <script src="/static/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/bower_components/morrisjs/morris.min.js"></script>
    <script src="/static/morris-graphs/js/morris-data.js"></script -->

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

       {% block date-picker-script %}

        <script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
            // When the document is ready

            $(document).ready(function () {

                $('#example1').datepicker({
                    format: "yyyy-mm-dd"
                });
                $('#example1').datepicker('update', new Date());
            });

        </script>
   {% endblock %}

   <!-- jquery export -->
   <script type="text/javascript" src="/static/table_export/tableExport.js"></script>
   <script type="text/javascript" src="/static/table_export/jquery.base64.js"></script>

   <!-- png export -->
   <script type="text/javascript" src="html2canvas.js"></script>

   <!-- pdf export -->
   <script type="text/javascript" src="/static/table_export/jspdf/libs/sprintf.js"></script>
   <script type="text/javascript" src="/static/table_export/jspdf/jspdf.js"></script>
   <script type="text/javascript" src="/static/table_export/jspdf/libs/base64.js"></script>


</body>

</html>
