{% extends "accountant/base_accountant.html" %}

{% block base_fees_nav %}{% endblock %}

{% block main_content%}
<div class="row">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Base Fee</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}

<div class="col-lg-12">

	{% if page_type == 0 %}
                <form>
                    <label><strong>Select Academic Year</strong></label>
                    <select name="academic_year" class="form-control" onchange="this.form.submit()">
                        <option>Select</option>
                        {% for academic_year in academic_years %}
                        <option value="{{academic_year.id}}">{{academic_year.year_start}} - {{academic_year.year_end}} </option>
                        {% endfor %}
                    </select>
                </form>
    {% endif %}

    {% if page_type == 1 %}

                <form>
                    <label><strong>Select Academic Year</strong></label>
                    <select name="academic_year" class="form-control" onchange="this.form.submit()">
                        {% for academic_year in academic_years %}
                        <option value="{{academic_year.id}}"{% if academic_year_id == academic_year.id %} selected{% endif %}>{{academic_year.year_start}} - {{academic_year.year_end}}</option>
                        {% endfor %}
                    </select>
                </form>
                <br/>

                <form>
                	<input type="hidden" name="academic_year" value="{{academic_year_id}}">
                    <label><strong>Select Standard</strong></label>
                    <select name="standard" class="form-control" onchange="this.form.submit()">
                        <option>Select</option>
                        {% for standard in standards %}
                        <option value="{{standard.id}}">{{standard.name}} </option>
                        {% endfor %}
                    </select>
                </form>

    {% endif %}

	{% if page_type == 2 %}

                    <form>
                    <label><strong>Select Academic Year</strong></label>
                    <select name="academic_year" class="form-control" onchange="this.form.submit()">
                        {% for academic_year in academic_years %}
                        <option value="{{academic_year.id}}"{% if academic_year_id == academic_year.id %} selected{% endif %}>{{academic_year.year_start}} - {{academic_year.year_end}}</option>
                        {% endfor %}
                    </select>
                </form>
                <br/>

                <form>
 	                <input type="hidden" name="academic_year" value="{{academic_year_id}}">
                    <label><strong>Select Standard</strong></label>
                    <select name="standard" class="form-control" onchange="this.form.submit()">
                        <option>Select</option>
                        {% for standard in standards %}
                        <option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}} </option>
                        {% endfor %}
                    </select>
                </form>
                    <br/>

          	<form action="." method="POST">
			<input type="hidden" name="academic_year" value="{{academic_year_id}}">
			<input type="hidden" name="standard" value="{{standard_id}}">

                <label><strong>Select Subject Years Combination</strong></label>
				{% for subject_year in subject_years %}
					<div class="checkbox">
						<label><input type="checkbox" name="subject_year_{{subject_year.id}}" value="True">{{subject_year.name}} </label>
					</div>
				{% endfor %}


		<br/>

		<label><strong>Amount</strong></label>
		<input name="amount" class="form-control">
		<br/>

		<input class="btn btn-default btn-red" type='submit' value='Make Transaction'>
	</form>

	{% endif %}



</br>

{% endblock %}
