<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='/static/fonts/google-fonts.css' rel='stylesheet' type='text/css'>

	<!-- <link rel="stylesheet" href="/static/css/reset.css"> <! CSS reset > -->
	<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->
	<script src="/static/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Campus Manager</title>
</head>

<body style="margin:0px;">
	<header>
		<!-- <a id="cd-logo" href="#0"><img src="/static/img/cd-logo.svg" alt="Homepage"></a> -->

		<nav id="cd-top-nav">
		</nav>
	</header>

	<br><br><br>
	<div width="100%" align="center">
		<table><tr><td><a id="cd-logo" href="#0"><img src="/static/img/logo.png" alt="Homepage"></a></td></tr></table>
	</div>
		
		<form align="center" action="/login/" method="POST">
			<div width="100%" align="center">	
				<table>
					<tr><td><h1 style="color:#000;">Login</h1></td></tr>
				</table>
				<table class="uif-table">
					<tr>
						<td>
							<h3 style="color:#000;">Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
						</td>
						<td>
							<input type="text" class="uif-input" name="username">
						</td>
					</tr>
					<tr><td><h3 style="color:#000;">Password: </h3></td><td><input class="uif-input" type="password" name="password"></td></tr>
				</table>
				<table>
					<tr><td><input class="uif-button" type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;"> <br/></td></tr>
				</table>
			</div>	
		</form>
		<br>
	{% if message %}	
		<table align="center">
			<tr><td>
				<div style="margin: 0;padding: 0;border: 3;font-size: 100%;font: inherit;vertical-align: baseline;" align="center" class="uif-message">
					<p>{{message}}</p>
				</div>
			</td></tr>
		</table>
	{% endif %}
	{% if logged_in %}
		<a href="/logout/">logout</a>
	{% endif %}


	
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>




<html>
	
</html>