{% extends "manager/base_manager.html" %}

{% block main_content%}
<div class="row">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Tests</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}

<div class="col-lg-12">

	{% if page_type == 0 %}
		<form>
			<label><strong>Select Standard</strong></label>
			<select name="standard" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for standard in standards %}
				<option value="{{standard.id}}">{{standard.name}}</option>
				{% endfor %}
			</select>
		</form>
	{% endif %}

	{% if page_type == 1 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
			<label><strong>Select Subject</strong></label>
			<select name="subject" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for subject in subjects %}
				<option value="{{subject.id}}">{{subject.name}}</option>
				{% endfor %}
			</select>
			</form>

	{% endif %}

	{% if page_type == 2 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<label><strong>Select Subject</strong></label>
		<select name="subject" class="form-control" onchange="this.form.submit()">
			{% for subject in subjects %}
			<option value="{{subject.id}}"{% if subject_id == subject.id %} selected{% endif %}>{{subject.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form action="." method="POST">
		<input type="hidden" name="standard" value="{{standard_id}}">
		<input type="hidden" name="subject" value="{{subject_id}}">
		<label><strong>Test Name</strong></label>
		<input name="test_name" class="form-control">
		<br/>
    <label><strong>Total Marks</strong></label>
		<input name="test_marks" class="form-control">
    <br/>
		<label><strong>Select batches which can give the test</strong></label>
		{% for batch in batches %}
			<div class="checkbox">
				<label><input type="checkbox" name="batch_{{batch.id}}" value="True">{{batch.name}} - {{batch.standard}} {{batch.branch}}</label>
			</div>
		{% endfor %}
		<br/>

		<label><strong>Select teachers who have access to the test</strong></label>
		{% for teacher in teachers %}
			<div class="checkbox">
				<label><input type="checkbox" name="teacher_{{teacher.id}}" value="True">{{teacher.username}} - {{teacher.first_name}} {{teacher.last_name}}</label>
			</div>
		{% endfor %}
		<br/>

		<input class="btn btn-default" type='submit' value='Create Test'>
	</form>

	{% endif %}



</br>

{% endblock %}
