{% extends "manager/base_manager.html" %}

{% block tests_nav %}{% endblock %}

{% block main_content%}
<div class="row">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Tests</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}

<div class="col-lg-12">

	{% if page_type == 0 %}
		<form>
			<label><strong>Select Standard</strong></label>
			<select name="standard" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for standard in standards %}
				<option value="{{standard.id}}">{{standard.name}}</option>
				{% endfor %}
			</select>
		</form>
	{% endif %}

	{% if page_type == 1 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
			<label><strong>Select Subject</strong></label>
			<select name="subject" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for subject in subjects %}
				<option value="{{subject.id}}">{{subject.name}}</option>
				{% endfor %}
			</select>
			</form>

	{% endif %}

	{% if page_type == 2 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	
	<br/>
	<form action="." method="POST">
		<input type="hidden" name="standard" value="{{standard_id}}">
		
		<label><strong>Test Name</strong></label>
		<input name="test_name" class="form-control">
		<br/>
    <label><strong>Total Marks</strong></label>
		<input name="test_marks" class="form-control">
    <br/>
    <label><strong>Select Subjects</strong></label>
    	<div class="dataTable_wrapper">
            			   	<table class="display table table-striped table-bordered table-hover" id="">
            					<thead>
            						<tr>
            							<td class="col-lg-5">Subject</td>
            							<td align="center">&nbsp;&nbsp;<input type="checkbox" name="sample" class="subject_check">
            							
            						</tr>
            					</thead>
            					<tbody>
            					
            						{%for subject in subjects %}
            						<tr>
            							<td>{{subject.name}}</td>
            							<td align="center"><input class="subject_sub_check" type="checkbox" name="subject_{{subject.id}}"></td>
            							
            						</tr>
            						{% endfor %}
            					</tbody>
            				</table>
            			</div>
		<label><strong>Select batches which can give the test</strong></label>
        <div class="dataTable_wrapper">
            <table class="display table table-striped table-bordered table-hover" id="">
                <thead>
                    <tr>
                        <td><b>Batch Name</b></td>
                        <td><b>Branch Name</b></td>
                        <td align="center">&nbsp;&nbsp;<input type="checkbox" name="sample" class="batch_check">
                        <!-- <td>Current Status</td> -->
                    </tr>
                </thead>
                <tbody>
                    {% for batch in batches %}
                    <tr>
                        <td>{{batch.name}} {{batch.standard}}</td>
                        <td>{{batch.branch}}</td>
                        <td align="center"><input class="sub_batch_check" type="checkbox" name="batch_{{batch.id}}" value="True"></td>
                    </tr>
            		{% endfor %}
                </tbody>
            </table>
        </div>
		<br/>

		<label><strong>Select teachers who have access to the test</strong></label>

        <div class="dataTable_wrapper">
            <table class="display table table-striped table-bordered table-hover" id="">
                <thead>
                    <tr>
                        <td><b>Teacher username</b></td>
                        <td><b>Teacher Name</b></td>
                        <td align="center">&nbsp;&nbsp;<input type="checkbox" name="sample" class="teacher_check">
                        <!-- <td>Current Status</td> -->
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{teacher.username}}</td>
                        <td>{{teacher.first_name}} {{teacher.last_name}}</td>
                        <td align="center"><input class="sub_teacher_check" type="checkbox" name="teacher_{{teacher.id}}" value="True"></td>
                    </tr>
            		{% endfor %}
                </tbody>
            </table>
        </div>


		<br/>

		<input class="btn btn-default btn-red" type='submit' value='Create Test'>
	</form>

	{% endif %}

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script>

        	$(document).ready(function() {
            $('table.display').DataTable({
            	"iDisplayLength":100,
                "oLanguage": {
                  "sEmptyTable":"No Students Found"
                }

            	});
        } );

         $(function() {
            $('.batch_check').on("click", function () { // IE<9 triggers change after blurred
                var checked = $(this).is(':checked');
                var $otherChecks = $('.sub_batch_check');
                $otherChecks.prop('checked', checked);
                $otherChecks.parent().toggleClass("disabled",checked);
            });
        });

        $(function() {
           $('.teacher_check').on("click", function () { // IE<9 triggers change after blurred
               var checked = $(this).is(':checked');
               var $otherChecks = $('.sub_teacher_check');
               $otherChecks.prop('checked', checked);
               $otherChecks.parent().toggleClass("disabled",checked);
           });
       });

        $(function() {
           $('.subject_check').on("click", function () { // IE<9 triggers change after blurred
               var checked = $(this).is(':checked');
               var $otherChecks = $('.subject_sub_check');
               $otherChecks.prop('checked', checked);
               $otherChecks.parent().toggleClass("disabled",checked);
           });
       });

    </script>


</br>

{% endblock %}
