{% extends "manager/base_manager.html" %}

{% block attendance_nav %}{% endblock %}

{% block main_content%}
<div class="row">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Send SMS</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}
<div class="col-lg-12">
  <table class="table table-bordered table-hover table-striped" id="not_dataTables">
       <tr>
         <th>Name</th>
         <th>Marks</th>
         </tr>
       {% for marks in student_marks %}
       <tr>
         <td>{{marks.student_name}}</td>
         <td>{{marks.obtained_marks}}/{{marks.total_marks}}</td>
       </tr>
       {% endfor %}
   </table>
</div>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('#dataTables').DataTable({
            "iDisplayLength":100,
            "oLanguage": {
              "sEmptyTable":     "No Records Found"
            }
    });
});
</script>

{% endblock %}
