{% extends "manager/base_manager.html" %}

{% block attendance_nav %}{% endblock %}

{% block date-picker-script %}

 <script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
 <script type="text/javascript">
     // When the document is ready

     $(document).ready(function () {

         $('#from_date_id').datepicker({
             format: "yyyy-mm-dd"
         });
         $('#from_date_id').on('change', function () {
             $('.datepicker').hide();
         });
         $('#from_date_id').datepicker('update', new Date());
     });

     $(document).ready(function () {

         $('#end_date_id').datepicker({
             format: "yyyy-mm-dd"
         });
         $('#end_date_id').on('change', function () {
             $('.datepicker').hide();
         });
         $('#end_date_id').datepicker('update', new Date());
     });

 </script>
{% endblock %}


{% block main_content%}
<div class="row">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Test SMS</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}

<div class="col-lg-12">

	{% if page_type == 1 %}
		<form>
			<label><strong>Select Branch</strong></label>
			<select name="branch" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for branch in branches %}
				    <option value="{{branch.id}}">{{branch.name}}</option>
				{% endfor %}
			</select>
		</form>
	{% endif %}

	{% if page_type == 2 %}
	<form>
		<label><strong>Select Branch</strong></label>
		<select name="branch" class="form-control" onchange="this.form.submit()">
			{% for branch in branches %}
			<option value="{{branch.id}}"{% if branch_id == branch.id %} selected{% endif %}>{{branch.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="branch" value="{{branch_id}}">
			<label><strong>Select Standard</strong></label>
			<select name="standard" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for standard in standards %}
				<option value="{{standard.id}}">{{standard.name}}</option>
				{% endfor %}
			</select>
			</form>
	{% endif %}

	{% if page_type == 3 %}
	<form>
		<label><strong>Select Branch</strong></label>
		<select name="branch" class="form-control" onchange="this.form.submit()">
			{% for branch in branches %}
			<option value="{{branch.id}}"{% if branch_id == branch.id %} selected{% endif %}>{{branch.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="branch" value="{{branch_id}}">
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form action="." method="GET">
		<input type="hidden" name="branch" value="{{branch_id}}">
		<input type="hidden" name="standard" value="{{standard_id}}">
		<label><strong>Select Batch</strong></label>
		<select name="batch" class="form-control" onchange="this.form.submit()">
			<option>Select</option>
			{% for batch in batches %}
			<option value="{{batch.id}}"{% if batch_id == batch.id %} selected{% endif %}>{{batch.name}}</option>
			{% endfor %}
		</select>
	</form>
	{% endif %}

	{% if page_type == 4 %}
    <form>
		<label><strong>Select Branch</strong></label>
		<select name="branch" class="form-control" onchange="this.form.submit()">
			{% for branch in branches %}
			<option value="{{branch.id}}"{% if branch_id == branch.id %} selected{% endif %}>{{branch.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="branch" value="{{branch_id}}">
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form action="." method="GET">
		<input type="hidden" name="branch" value="{{branch_id}}">
		<input type="hidden" name="standard" value="{{standard_id}}">
		<label><strong>Select Batch</strong></label>
		<select name="batch" class="form-control" onchange="this.form.submit()">
			<option>Select</option>
			{% for batch in batches %}
			<option value="{{batch.id}}"{% if batch_id == batch.id %} selected{% endif %}>{{batch.name}}</option>
			{% endfor %}
		</select>
	</form>
    <br/>
    <form action="." method="GET">
		<input type="hidden" name="branch" value="{{branch_id}}">
		<input type="hidden" name="standard" value="{{standard_id}}">
        <input type="hidden" name="batch" value="{{batch_id}}">
        <label><strong>Select Date</strong></label>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">From Date </span>
                  <input name ="from_date" class="form-control"id="from_date_id">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">To Date </span>
                  <input name ="to_date" class="form-control"id="end_date_id">
                </div>
            </div>
        </div>
        <br/>
        <input value="Send SMS" type="submit" class="btn btn-default btn-red">
	</form>

	{% endif %}

    {% if page_type == 5 %}

          <ul class="nav nav-tabs">
            {% for k,v in test_student_dict.items %}
              {% if forloop.counter0 == 0 %}
                <li class="active"><a data-toggle="tab" href="#{{forloop.counter0}}">{{k.0}}&nbsp;&nbsp;{% if k.1 == True %}<i class="fa fa-check"></i> {% else %}<i class="fa fa-times"></i> {% endif %}</a></li>
              {% else %}
                <li><a data-toggle="tab" href="#{{forloop.counter0}}">{{k.0}}&nbsp;&nbsp;{% if k.1 == True %}<i class="fa fa-check"></i> {% else %}<i class="fa fa-times"></i> {% endif %}</a></li>
              {% endif %}

            {% endfor %}
          </ul>
          <form action="submit" method="post">
          <div class="tab-content">
            {% for k,v in test_student_dict.items %}
            {% if forloop.counter0 == 0 %}
              <div id="{{forloop.counter0}}" class="tab-pane fade in active">
            {% else %}
              <div id="{{forloop.counter0}}" class="tab-pane fade in">
            {% endif %}
    		  		<div class="row">
    		        <div class="panel-body">
    		        <div class="dataTable_wrapper">
    		           <table class="table table-striped table-bordered table-hover" id="not_dataTables">
    		                <thead>
    		                    <tr>
    		                        <td align="center" width="600"><strong>Name</strong></td>
    		                        <td align="center"><strong>Score</strong></td>
    		                        <td align="center">&nbsp;&nbsp;<input type="checkbox" class="{{forloop.counter0}}"></td>
    		                    </tr>
    		                </thead>
    		                <tbody>
                          {% for student in v %}
    		                        <tr>
    		                            <td align="center">{{student.student_name}}</td>
    		                            <td align="center">{{student.obtained_marks}}/{{student.total_marks}}</td>
    		                            <td align="center">&nbsp;&nbsp;<input type="checkbox" name="{{student.id}}" class="sub_{{forloop.parentloop.counter0}}"></td>
    		                        </tr>
    		                    {% endfor %}
    		                </tbody>
    		            </table>
    		         </div>
    		        </div>
    		        </div>
    		        </div>
              {% endfor %}
          </div>
          <input class="col-lg-3 btn btn-default btn-red" type='submit' value='Send SMS'>
        </form>
          <br><br><br>
          <small>Note: Messages will be sent to all the selected students.<br>
                 <i class="fa fa-check"></i> : SMS for the respective test was sent earlier.<br>
                 <i class="fa fa-times"></i> : SMS for the respective test has not been sent.<br>
          </small>
    {% endif %}

</br>

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('#dataTables').DataTable({
            "iDisplayLength":25,
            "oLanguage": {
              "sEmptyTable":     "No Records Found"
            }
    });
});
{%for k,v in test_student_dict %}
 $(function() {
        $('.{{forloop.counter0}}').on("click", function () { // IE<9 triggers change after blurred
            var checked = $(this).is(':checked');
            var $otherChecks = $('.sub_{{forloop.counter0}}');
            $otherChecks.prop('checked', checked);
            $otherChecks.parent().toggleClass("disabled",checked);
        });
    });
    {% endfor %}
</script>

{% endblock %}
