{% extends "manager/base_manager.html" %}

{% block main_content%}
<div class="row">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">View Tests</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}

<div class="col-lg-12">

	{% if page_type == 0 %}
		<form>
			<label><strong>Select Standard</strong></label>
			<select name="standard" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for standard in standards %}
				<option value="{{standard.id}}">{{standard.name}}</option>
				{% endfor %}
			</select>
		</form>
	{% endif %}

	{% if page_type == 1 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
			<label><strong>Select Subject</strong></label>
			<select name="subject" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for subject in subjects %}
				<option value="{{subject.id}}">{{subject.name}}</option>
				{% endfor %}
			</select>
			</form>

	{% endif %}

	{% if page_type == 2 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<label><strong>Select Subject</strong></label>
		<select name="subject" class="form-control" onchange="this.form.submit()">
			{% for subject in subjects %}
			<option value="{{subject.id}}"{% if subject_id == subject.id %} selected{% endif %}>{{subject.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>

	<label><strong>Tests</strong></label>
	<br/>

	   <table class="table table-bordered table-hover table-striped" id="dataTables">
			<thead>
				<tr>
					<th class="col-lg-2">#</th>
					<th>Test Name</th>
					<th class="col-lg-1">Subject Name</th>
					<th class="col-lg-1">Link</th>
				</tr>
			</thead>
			<tbody>
				{% for test in tests %}
					<tr>
						<td>{{test.id}}</td>
						<td>{{test.name}}</td>
						<td>{{test.subject_year_name}}</td>
						<td><a style="background:transparent;color:#0645AD;" class="hyperlink-default" href="./?test={{test.id}}">Edit</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    <button onClick ="$('#dataTables').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});" class="btn btn-default btn-red">Export as PDF</button>
    <button onClick ="$('#dataTables').tableExport({type:'excel',escape:'false'});" class="btn btn-default btn-red">Export as Excel</button>
    <button onClick ="$('#dataTables').tableExport({type:'csv',escape:'false'});" class="btn btn-default btn-red">Export as Csv</button>
    <br/><br/>
	{% endif %}

	{% if page_type == 3 %}

		<form action="." method="POST">
			<input type="hidden" name="test" value="{{test.id}}">
			<label><strong>Test Name</strong></label>
			<input name="test_name" value={{test.name}} class="form-control">
			<br/>
			<label><strong>Select batches which can give the test</strong></label>


      <div class="dataTable_wrapper">
			   	<table class="display table table-striped table-bordered table-hover" id="">
					<thead>
						<tr>
							<td class="col-lg-5">Name</td>
							<td align="center">&nbsp;&nbsp;<input type="checkbox" name="sample" class="batch_check">
							<td>Current Status</td>
						</tr>
					</thead>
					<tbody>
            {% for batch in batches %}
            <tr>
              <td>{{batch.name}} - {{batch.standard}} {{batch.branch}}</td>
      				<td align="center">&nbsp;&nbsp;<input type="checkbox" class="sub_batch_check" name="batch_{{batch.id}}" value="True" {% if batch.check == True %}checked{% endif %}>
              {% if batch.check == True %}
              <td class="text-info"><strong>Checked</strong></td>
              {% else %}
              <td class="text-muted"><strong>Not Checked</strong></td>
              {% endif %}
            </tr>
      			{% endfor %}
      			<br/>
					</tbody>
				</table>
			</div>



			<label><strong>Select teachers who have access to the test:</strong></label>

      <div class="dataTable_wrapper">
			   	<table class="display table table-striped table-bordered table-hover" id="">
					<thead>
						<tr>
							<td class="col-lg-5">Name</td>
							<td align="center">&nbsp;&nbsp;<input type="checkbox" name="sample" class="teacher_check">
							<td>Current Status</td>
						</tr>
					</thead>
					<tbody>
            {% for teacher in teachers %}
            <tr>
              <td>{{teacher.first_name}} {{teacher.last_name}}</td>
      				<td align="center">&nbsp;&nbsp;<input type="checkbox" class="sub_teacher_check" name="teacher_{{teacher.id}}" value="True"{% if teacher.check == True %} checked{% endif %}>
              {% if teacher.check == True %}
              <td class="text-info"><strong>Checked</strong></td>
              {% else %}
              <td class="text-muted"><strong>Not Checked</strong></td>
              {% endif %}
            </tr>
      			{% endfor %}
      			<br/>
					</tbody>
				</table>
			</div>


			<input class="col-lg-2 btn btn-default btn-red" type='submit' value='Save'>
		</form>
    <br><br><br>
	{% endif %}



</br>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $('.batch_check').on("click", function () { // IE<9 triggers change after blurred
           var checked = $(this).is(':checked');
           var $otherChecks = $('.sub_batch_check');
           $otherChecks.prop('checked', checked);
           $otherChecks.parent().toggleClass("disabled",checked);
       });

       $('.teacher_check').on("click", function () { // IE<9 triggers change after blurred
              var checked = $(this).is(':checked');
              var $otherChecks = $('.sub_teacher_check');
              $otherChecks.prop('checked', checked);
              $otherChecks.parent().toggleClass("disabled",checked);
          });
</script>

{% endblock %}
