{% extends "student/base_student.html" %}

{% block main_content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Lectures</h1>
    </div>
</div>

  <br/>
    <div class="panel panel-default">
          <h3 class="page-header" style="margin-top:15px; margin-bottom:5px;">&nbsp;&nbsp;Upcoming Lectures</h3>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">

                <table class="display table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Subject</th>
                            <th>Staff</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lecture in upcoming_lectures %}
                            <tr class="odd gradeX">
                                <td align="center">{{lecture.date}}</td>
                                <td align="center">{{lecture.name}}</td>
                                <td align="center">{{lecture.description}}</td>
                                <td align="center">{{lecture.subject_name}}</td>
                                <td align="center">{{lecture.staff_role_name}}</td>
                                      {% if lecture.difference == 0 %}
                                        <td align="center" class="text-info"><strong>Today</strong></td>
                                      {% else %}
                                          <td align="center" class="text-warning"><strong>Upcoming in {{lecture.difference}} days</strong></td>
                                        {% endif %}
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.-->
        </div>
        <!-- /.panel-body -->

    </div>
    <!-- /.panel -->
    <br><br><br><br>
    <div class="panel panel-default">
          <h3 class="page-header" style="margin-top:15px; margin-bottom:5px;">&nbsp;&nbsp;Past Lectures</h3>
        <div class="panel-body">
            <div class="dataTable_wrapper">

                <table class="display table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Subject</th>
                            <th>Staff</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lecture in past_lectures %}
                            <tr class="odd gradeX">
                                <td align="center">{{lecture.date}}</td>
                                <td align="center">{{lecture.name}}</td>
                                <td align="center">{{lecture.description}}</td>
                                <td align="center">{{lecture.subject_name}}</td>
                                <td align="center">{{lecture.staff_role_name}}</td>
                                <td align="center" class="text-muted"><strong>Conducted {{lecture.difference}} days ago</strong></td>

                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.-->
        </div>
        <!-- /.panel-body -->

    </div>

<br/>


<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('table.display').DataTable({
            "iDisplayLength":10,
            "oLanguage": {
              "sEmptyTable":     "No Lectures Found"
            }
    });
});
</script>
{% endblock %}
