{% extends 'admin/base_admin.html' %}

{% block main_content %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Graphical Overview</h1>
    </div>
</div>

{% if page_type == 0 %}
	<form>
	    <label><strong>Select Standard</strong></label>
	    <select name="standard" class="form-control" onchange="this.form.submit()">
	        <option>Select</option>
	        {% for standard in standards %}
	        <option value="{{standard.id}}">{{standard.name}}</option>
	        {% endfor %}
	    </select>
	</form>
{% endif %}

{% if page_type == 1 %}

				<form>
                    <label><strong>Select Standard</strong></label>
                    <select name="standard" class="form-control" onchange="this.form.submit()">
                        {% for standard in standards %}
                        <option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
                        {% endfor %}
                    </select>
                </form>
                <br/><br/><br/>

			<div id="bar-example"></div>

<script>

var lec_data = [

	{% for i in lecturebatches %}
    { "name": '{{i.batch_name}}-{{i.branch_name}}', "done": {{i.done_counter}}, "total":{{i.total_counter}}},
    {% endfor %}
];


Morris.Bar({
  element: 'bar-example',
  data: lec_data,
  xkey: 'name',
  ykeys: ['done', 'total'],
  labels: ['Lectures Done', 'Total Lectures'],
  xLabelMargin: 10,
  stacked: true
});

</script>


{% endif %}

{% endblock %}