{% extends 'admin/base_admin.html' %}

{% block main_content %}
<script src="/static/morris_components/raphael-min.js"></script>
<script src="/static/morris_components/jquery-1.8.2.min.js"></script>
<script src="/static/morris_components/morris-0.4.1.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Graphical Overview</h1>
    </div>
</div>

{% if page_type == 0 %}
	<form>
	    <label><strong>Select Standard</strong></label>
	    <select name="standard" class="form-control" onchange="this.form.submit()">
	        <option>Select</option>
	        {% for standard in standards %}
	        <option value="{{standard.id}}">{{standard.name}}</option>
	        {% endfor %}
	    </select>
	</form>
{% endif %}

{% if page_type == 1 %}

				<form>
                    <label><strong>Select Standard</strong></label>
                    <select name="standard" class="form-control" onchange="this.form.submit()">
                        {% for standard in standards %}
                        <option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
                        {% endfor %}
                    </select>
                </form>
                <br/><br/><br/>

			<div id="bar-example"></div>

      <div class="panel-body">


                        <div class="dataTable_wrapper">

                            <table class="table table-striped table-bordered table-hover" id="dataTables">
                                <thead>
                                    <tr>
                                        <th>Topic</th>
                                        {% for i in lecturebatches %}
                                          <th> {{i.batch_name}}-{{i.branch_name}} </th>
                                        {% endfor %}

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k,v in count_list.items %}
                                        <tr>
                                          <td align="center">{{k}}</td>
                                          {% for i in v %}
                                          {% if i.done_counter == i.total_counter %}
                                          <td class="text-success" align="center"><strong>{{i.done_counter}}/{{i.total_counter}}</strong></td>
                                          {% elif i.done_counter == 0 %}
                                          <td class="text-danger" align="center"><strong>{{i.done_counter}}/{{i.total_counter}}</strong></td>
                                          {% else %}
                                          <td class="text-primary" align="center"><strong>{{i.done_counter}}/{{i.total_counter}}</strong></td>
                                          {% endif %}
                                          {% endfor %}
                                        </tr>
                                    {% endfor %}



                                </tbody>
                            </table>
                        <!-- /.table-responsive -->
                        <button onClick ="$('#dataTables').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});" class="btn btn-default btn-red">Export as PDF</button>
                        <button onClick ="$('#dataTables').tableExport({type:'excel',escape:'false'});" class="btn btn-default btn-red">Export as Excel</button>
                        <button onClick ="$('#dataTables').tableExport({type:'csv',escape:'false'});" class="btn btn-default btn-red">Export as Csv</button>
                         </div>
                        <!-- /.-->
                    </div>

<script>

var lec_data = [

	{% for i in lecturebatches %}
    { "name": '{{i.batch_name}}-{{i.branch_name}}', "done": {{i.done_counter}}, "total":{{i.total_counter}}},
    {% endfor %}
];


Morris.Bar({
  element: 'bar-example',
  data: lec_data,
  xkey: 'name',
  ykeys: ['done', 'total'],
  labels: ['Lectures Done', 'Total Lectures'],
  xLabelMargin: 10,
  stacked: true
});

</script>

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

      <script>
    $(document).ready(function() {
        $('#dataTables').DataTable({
                 "iDisplayLength": 25

        });
    });
    </script>

{% endif %}

{% endblock %}
