{% extends "manager/base_manager.html" %}

{% block main_content%}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- /.panel -->
                    <div class="panel panel-default">
						<h3 class="page-header" style="margin-top:15px; margin-bottom:5px;">&nbsp;&nbsp;{% if page_type == 0 %}Select Standard{% elif page_type == 1 %}Select Subject{% elif page_type == 2 %}Enter Lecture{% endif %}</h3>
							<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-6">
									<div class="form-group">
										{% if page_type == 0 %}
											<form>
											<select name="standard" class="form-control" onchange="this.form.submit()">
												<option>Select</option>
												{% for standard in standards %}
												<option value="{{standard.id}}">{{standard.name}}</option>
												{% endfor %}
											</select>
											</form>
										{% endif %}
										{% if page_type == 1 %}
											<form>
											<select name="standard" class="form-control" onchange="this.form.submit()">
												{% for standard in standards %}
												<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
												{% endfor %}
											</select>
											</form>
											
											<form>
											<input type="hidden" name="standard" value="{{standard_id}}">
											<select name="subject" class="form-control" onchange="this.form.submit()">
												<option>Select</option>
												{% for subject in subjects %}
												<option value="{{subject.id}}">{{subject.name}}</option>
												{% endfor %}
											</select>
											</form>

										{% endif %}
									</div>
								</div>
							</div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
{% endblock %}