{% extends "teacher/base_teacher.html" %}

{% block main_content%}
<div class="row">

<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">Add/Edit Attendance</h1>
    </div>
</div>
	{% if message %}
	    <div class="panel-body">
	        <div class="alert alert-success alert-dismissable col-lg-12">
	            <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            {{message}}
	        </div>
	    </div>
    {% elif message_error %}
	    <div class="panel-body">
		    <div class="alert alert-danger alert-dismissable col-lg-12">
		        <button onclick="window.location='.'" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        {{message_error}}
		    </div>
		</div>
	{% endif %}

<div class="col-lg-12">

	{% if page_type == 0 %}
		<form>
			<label><strong>Select Standard</strong></label>
			<select name="standard" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for standard in standards %}
				<option value="{{standard.id}}">{{standard.name}}</option>
				{% endfor %}
			</select>
		</form>
	{% endif %}

	{% if page_type == 1 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
			<label><strong>Select Subject</strong></label>
			<select name="subject" class="form-control" onchange="this.form.submit()">
				<option>Select</option>
				{% for subject in subjects %}
				<option value="{{subject.id}}">{{subject.name}}</option>
				{% endfor %}
			</select>
			</form>

	{% endif %}

	{% if page_type == 2 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<label><strong>Select Subject</strong></label>
		<select name="subject" class="form-control" onchange="this.form.submit()">
			{% for subject in subjects %}
			<option value="{{subject.id}}"{% if subject_id == subject.id %} selected{% endif %}>{{subject.name}}</option>
			{% endfor %}
		</select>
	</form>
	</br>
	<form action="." method="GET">
		<input type="hidden" name="standard" value="{{standard_id}}">
		<input type="hidden" name="subject" value="{{subject_id}}">
		<label><strong>Select Topic</strong></label>
		<select name="lecture" class="form-control" onchange="this.form.submit()">
			<option>Select</option>
			{% for lecture in lectures %}
			<option value="{{lecture.id}}"{% if lecture_id == lecture.id %} selected{% endif %}>{{lecture.name}}</option>
			{% endfor %}
		</select>
	</form>

	{% endif %}

	{% if page_type == 3 %}
	<form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<label><strong>Select Subject</strong></label>
		<select name="subject" class="form-control" onchange="this.form.submit()">
			{% for subject in subjects %}
			<option value="{{subject.id}}"{% if subject_id == subject.id %} selected{% endif %}>{{subject.name}}</option>
			{% endfor %}
		</select>
	</form>
	</br>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<input type="hidden" name="subject" value="{{subject_id}}">
		<label><strong>Select Topic</strong></label>
		<select name="lecture" class="form-control" onchange="this.form.submit()">
			{% for lecture in lectures %}
			<option value="{{lecture.id}}"{% if lecture_id == lecture.id %} selected{% endif %}>{{lecture.name}}</option>
			{% endfor %}
		</select>
	</form>
	</br>
	<form action="." method="GET">
		<input type="hidden" name="standard" value="{{standard_id}}">
		<input type="hidden" name="subject" value="{{subject_id}}">
		<input type="hidden" name="lecture" value="{{lecture_id}}">
		<label><strong>Select Lecture</strong></label>
		<select name="lecturebatch" class="form-control" onchange="this.form.submit()">
			<option>Select</option>
			{% for lecturebatch in lecturebatches %}
			<option value="{{lecturebatch.id}}"{% if lecturebatch_id == lecturebatch.id %} selected{% endif %}>{{lecturebatch.name}} - {{lecturebatch.batch_name}} {{lecturebatch.branch_name}}</option>
			{% endfor %}
		</select>
	</form>

	{% endif %}
	{% if page_type == 4 %}

    <!-- Commented for a better UX -->
	<!-- <form>
		<label><strong>Select Standard</strong></label>
		<select name="standard" class="form-control" onchange="this.form.submit()">
			{% for standard in standards %}
			<option value="{{standard.id}}"{% if standard_id == standard.id %} selected{% endif %}>{{standard.name}}</option>
			{% endfor %}
		</select>
	</form>
	<br/>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<label><strong>Select Subject</strong></label>
		<select name="subject" class="form-control" onchange="this.form.submit()">
			{% for subject in subjects %}
			<option value="{{subject.id}}"{% if subject_id == subject.id %} selected{% endif %}>{{subject.name}}</option>
			{% endfor %}
		</select>
	</form>
	</br>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<input type="hidden" name="subject" value="{{subject_id}}">
		<label><strong>Select Topic</strong></label>
		<select name="lecture" class="form-control" onchange="this.form.submit()">
			{% for lecture in lectures %}
			<option value="{{lecture.id}}"{% if lecture_id == lecture.id %} selected{% endif %}>{{lecture.name}}</option>
			{% endfor %}
		</select>
	</form>
	</br>
	<form>
		<input type="hidden" name="standard" value="{{standard_id}}">
		<input type="hidden" name="subject" value="{{subject_id}}">
		<input type="hidden" name="lecture" value="{{lecture_id}}">
		<label><strong>Select Lecture</strong></label>
		<select name="lecturebatch" class="form-control" onchange="this.form.submit()">
			{% for lecturebatch in lecturebatches %}
            <option value="{{lecturebatch.id}}"{% if lecturebatch_id == lecturebatch.id %} selected{% endif %}>{{lecturebatch.name}} - {{lecturebatch.batch_name}} {{lecturebatch.branch_name}}</option>
			{% endfor %}
		</select>
	</form>
	</br> -->

	<form action="." method="POST">
		<input type="hidden" name="standard" value="{{standard_id}}">
		<input type="hidden" name="subject" value="{{subject_id}}">
		<input type="hidden" name="lecture" value="{{lecture_id}}">
		<input type="hidden" name="lecturebatch" value="{{lecturebatch_id}}">

        <!-- <ul class="nav nav-tabs nav-justified">
          <li class="active">
              <a href="#service-one" data-toggle="tab">
                  <i class="fa fa-chevron-circle-right"></i> Lol <br/> ss
              </a>
          </li>
          <li class>
              <a href="#service-two" data-toggle="tab">
                  <i class="fa fa-chevron-circle-right"></i> Rofl
              </a>
          </li>
        </ul>

        <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h1>Lolz</h1>
                    </div>
                    <div class="tab-pane fade in" id="service-two">
                        <h1>Roflz</h1>
                    </div>
        </div> -->

        <h3>Select all students who attended {{current_lecture_batch.lecture_batch_name}} lecture of {{current_lecture_batch.batch_name}} {{current_lecture_batch.branch_name}}</h3>
        <br/>
        <div class="col-md-3">
            <br/><br/><br/>
            <ul class="nav nav-tabs nav-stacked">
              {% for batch in batch_list %}
                  <li {% if batch.batch.id == current_lecture_batch.batch_id %}class="active"{% endif %} >
                      <a href="#service-{{batch.batch.id}}" data-toggle="tab">
                          <i class="fa fa-chevron-circle-right"></i>
                          Students of {{batch.batch.name}} <br/> {{batch.batch.branch}}
                      </a>
                  </li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div id="myTabContent" class="tab-content">
        		{%for batch in batch_list %}
                    <div class="tab-pane fade {% if batch.batch.id == current_lecture_batch.batch_id %}active{% endif %} in" id="service-{{batch.batch.id}}">
            			<label><strong> Batch: {{batch.batch.name}}   &nbsp;&nbsp; Standard: {{batch.batch.standard}} &nbsp;&nbsp; Branch: {{batch.batch.branch}} </strong></label>
            			<br/>
            			<div class="dataTable_wrapper">
            			   	<table class="display table table-striped table-bordered table-hover" id="">
            					<thead>
            						<tr>
            							<td class="col-lg-5">Name</td>
            							<td align="center">&nbsp;&nbsp;<input type="checkbox" name="sample" class="batch_{{batch.batch.id}}">
            							<td>Current Status</td>
            						</tr>
            					</thead>
            					<tbody>
            						{%for student in batch.students %}
            						<tr>
            							<td>{{student.first_name}} {{student.last_name}}</td>
            							<td align="center"><input class="sub_batch_{{batch.batch.id}}" type="checkbox" name="batch_{{batch.batch.id}}student_{{student.id}}"{% if student.present == True %} checked{% endif %}></td>
            							{% if student.present == True %}<td class="text-success"><strong>Present</strong></td>
            							{% else %}<td class="text-muted"><strong>Absent/Not Marked</strong></td>
            							{% endif %}
            						</tr>
            						{% endfor %}
            					</tbody>
            				</table>
            			</div>
            			<br>
                        <input class="col-lg-3 btn btn-primary btn-red" type='submit' value='Mark Attendance'>
                		<br/>
                    </div>
    			{% endfor %}
            </div>
        </div>
    <br/>
    <br/>

	</form>
	</div>

	<!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script>

	$(document).ready(function() {
    $('table.display').DataTable({
    	"iDisplayLength":25,
        "oLanguage": {
          "sEmptyTable":"No Students Found"
        }

    	});
} );

{%for batch in batch_list %}
 $(function() {
        $('.batch_{{batch.batch.id}}').on("click", function () { // IE<9 triggers change after blurred
            var checked = $(this).is(':checked');
            var $otherChecks = $('.sub_batch_{{batch.batch.id}}');
            $otherChecks.prop('checked', checked);
            $otherChecks.parent().toggleClass("disabled",checked);
        });
    });
    {% endfor %}
    </script>

	{% endif %}




</br>

{% endblock %}
