<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        .white, .white a {
          color: #fff;
        }
        .blue-back, .blue-back a {
            background-color: #4A777A;
            border-color: #4A777A;
        }
        .divider-custom, .divider-custom li {
             background-color:#23527C; !important
        }
        .nav-tabs li a{
            background-color: #755566;
            color: #fff;
        }

    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Your Firm's Name</title>

     <!-- DataTables CSS -->
    <link href="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/static/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">


    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!--Datepicker CSS -->
    <link href="/static/datepicker/css/datepicker.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script>
  	  function call_staff_search_window(type) {
  		  window.open("/staff-search/?type="+type,"name_" + Math.random(), "scrollbars=1");
  	  }
  </script>

</head>

<body style="background-color:#fff;">

    <div class="blue-back" id="wrapper">

        <!-- Navigation -->
        <nav style="margin-bottom:0px;background-color:#4A777A;border-color:#fff;" class="navbar navbar-default navbar-static-top white blue-back" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:#fff;" class="navbar-brand white">Your Firm's Logo</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <strong>Use As</strong> &nbsp;<i class="fa fa-caret-down"></i>
                    </a>
                    <ul style="background-color:#4A777A;" class="dropdown-menu" style="width:200px;">
                        {% block use_as %}
                        {% if details.permission_admin == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=admin">
                                <span class="pull-right"><i class="fa fa-check"></i></span> <strong>Admin</strong>
                            </a>
                        </li>
                        <li style="background-color:#fff;" class="divider-custom divider"></li>
                        {% endif %}
                        {% if details.permission_accountant == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=accountant">
                                <strong>Accountant</strong>
                            </a>
                        </li>
                        <li style="background-color:#fff;" class="divider-custom divider"></li>
                        {% endif %}
                        {% if details.permission_manager == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=manager">
                                <strong>Manager</strong>
                            </a>
                        </li>
                        <li style="background-color:#fff;" class="divider-custom divider"></li>
                        {% endif %}
                        {% if details.permission_teacher == True %}
                        <li class="dropdown-menu-normal">
                            <a href="/change/?use_as=teacher">
                               <strong>Teacher</strong>
                            </a>
                        </li>
                        {% endif %}
                        {% endblock %}
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul style="background-color:#4A777A" class="dropdown-menu dropdown-alerts">
                        {% block notifs %}
                        <li class="dropdown-menu-normal">
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i><strong> No Notifications for now.</strong>
                                </div>
                            </a>
                        </li>
                        {% endblock %}
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <strong>{{details.first_name}}</strong>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                    </a>
                    <ul style="background-color:#4A777A" class="dropdown-menu dropdown-user">
                        <li class="dropdown-menu-normal"><a href="/admin/profile/view-profile/"><i class="fa fa-user fa-fw"></i><strong> User Profile</strong></a>
                        </li>
                        <li class="dropdown-menu-normal"><a href="/admin/profile/change-password/"><i class="fa fa-gear fa-fw"></i><strong> Change Password</strong></a>
                        </li>
                        <li style="background-color:#fff;" class="divider-custom divider"></li>
                        <li class="dropdown-menu-normal"><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i><strong> Logout</strong></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                     <ul style="border-color:#4A777A;" class="nav" id="side-menu">
                        <li style="border-color:#4A777A;">
							<a href="/admin/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li style="border-color:#4A777A;">
							<a href="/admin/fees/view-fees"><i class="fa fa-inr fa-fw"></i> Batchwise Fees</a>
                        </li>
                        <li style="border-color:#4A777A;">
							<a href="#"><i class="fa fa-user fa-fw"></i> Manage Staff<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level {% block staff_nav %}collapse{% endblock %}">
                                <li>
									<a href="/admin/staff/add-staff/">Add Staff</a>
                                </li>
                                <li>
									<a href="/admin/staff/view-staff/">View/Edit Staff</a>
                                </li>
                                <li>
									<a href="/admin/staff/assign-roles/">Assign Roles</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li style="border-color:#4A777A;">
							<a href="/admin/set-current-academic-year"><i class="fa fa-calendar fa-fw"></i> Set Current Academic Year</a>
                        </li>

                        <li style="border-color:#4A777A;">
                            <a href="#"><i class="fa fa-line-chart"></i> Syllabus Progress<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level {% block progress_nav %}collapse{% endblock %}">
                                <li>
                                    <a href="/admin/track-progress/detailed-progress/">Detailed Progress</a>
                                </li>
                                <li>
                                    <a href="/admin/track-progress/graphical-overview/">Graphical Overview</a>
                                </li>
                            </ul>
                        </li>

                        <li style="border-color:#4A777A;">
                            <a href="#"><i class="fa fa-envelope-o fa-fw"></i> Notices<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level {% block notices_nav %}collapse{% endblock %}">
                                <li>
                                    <a href="/admin/notices/add-student-notice/">Upload Student Notice</a>
                                </li>
                                <li>
                                    <a href="/admin/notices/add-staff-notice/">Upload Staff Notice</a>
                                </li>
                                <li>
                                    <a href="/admin/notices/view-my-notices/">View/Edit My Notices</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block main_content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/static/js/jquery.table2excel.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/bower_components/morrisjs/morris.min.js"></script>
    <script src="/static/morris-graphs/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

     <!-- Datepicker -->
        {% block date-picker-script %}

        <script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
            // When the document is ready

            $(document).ready(function () {

                $('#example1').datepicker({
                    format: "yyyy-mm-dd"
                });
                $('#example1').datepicker('update', new Date());
            });

        </script>
   		{% endblock %}

      <!-- jquery export -->
      <!-- <script type="text/javascript" src="/static/table_export/tableExport.js"></script>
      <script type="text/javascript" src="/static/table_export/jquery.base64.js"></script> -->

      <!-- png export -->
      <!-- <script type="text/javascript" src="html2canvas.js"></script> -->

      <!-- pdf export -->
      <!-- <script type="text/javascript" src="/static/table_export/jspdf/libs/sprintf.js"></script>
      <script type="text/javascript" src="/static/table_export/jspdf/jspdf.js"></script>
      <script type="text/javascript" src="/static/table_export/jspdf/libs/base64.js"></script> -->

      <script type="text/javascript" src="/static/table_export2/libs/FileSaver/FileSaver.min.js"></script>

      <script type="text/javascript" src="/static/table_export2/libs/jsPDF/jspdf.min.js"></script>
      <script type="text/javascript" src="/static/table_export2/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>

      <script type="text/javascript" src="/static/table_export2/tableExport.min.js"></script>


</body>

</html>
